.food_menu{
    position: relative;
    text-align: center;
    border-radius: 100px;
    

}


.room_menu .room_btn{
    position: relative;
    right: 39%;
    bottom: 20px;
    border-radius: 10px;
    padding: 7px;
    font-size: 14px;
    font-weight: 700;
}
.room_menu .room_btn:hover{
    color: rgb(6, 7, 7);
    background: yellow;
}
.room_menu .text{
    z-index: -10;
    
}

.food_menu img{
    width: 130%;
    height: 100%;
}
.text{
    position: absolute;
    top: 150px;
    left: 40px;
    padding-left: 10px;

    
}

.menu{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 150px;
    margin-top: 100px;
    gap: 100px;

}

.room_menu img{
    width: 60%;
    height: 100%;
}

.explorer_btn{
    position: absolute;
    left: 90px;
    top: 200px;
   left: 110px;
   bottom: 12px;
   border-radius: 10px;

}