/* Background */

.login-page {
  min-height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;

  background-image: url("https://images.unsplash.com/photo-1566073771259-6a8506099945?w=1600");
  background-size: cover;
  background-position: center;
}

/* Card */

.login-card {
  width: 360px;

  background: rgba(255, 255, 255, 0.96);

  padding: 25px;
  border-radius: 15px;

  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.25);
}

/* Title */

.login-title {
  text-align: center;
  color: #0f172a;
  margin-bottom: 5px;
  font-size: 30px;
}

.login-subtitle {
  text-align: center;
  color: #64748b;
  margin-bottom: 20px;
  font-size: 14px;
}

/* Form */

.login-form {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.login-form label {
  font-size: 14px;
  font-weight: 600;
  color: #0f172a;
}

/* Inputs */

.login-form input {
  width: 100%;
  padding: 12px 14px;

  border: 1px solid #d1d5db;
  border-radius: 8px;

  font-size: 15px;
  box-sizing: border-box;

  outline: none;
}

.login-form input:focus {
  border-color: #16a34a;
}

/* Button */

.login-btn {
  width: 100%;
  margin-top: 12px;

  padding: 12px;

  border: none;
  border-radius: 8px;

  background: #16a34a;
  color: white;

  font-size: 15px;
  font-weight: bold;

  cursor: pointer;
  transition: 0.3s;
}

.login-btn:hover {
  background: #15803d;
}

/* Links */

.signup-text,
.forget-text {
  text-align: center;
  margin-top: 10px;
  font-size: 14px;
}

.signup-text a,
.forget-text a {
  text-decoration: none;
  color: #16a34a;
  font-weight: bold;
}

.signup-text a:hover,
.forget-text a:hover {
  text-decoration: underline;
}