/* Page Background */
.register-page {
  min-height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;

  background-image: url("https://images.unsplash.com/photo-1566073771259-6a8506099945?w=1600");
  background-size: cover;
  background-position: center;
}

/* Register Card */
.register-card {
  width: 360px;

  background: rgba(255, 255, 255, 0.96);

  padding: 25px;
  border-radius: 15px;

  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.25);
}

/* Title */
.register-title {
  text-align: center;
  color: #0f172a;
  margin-bottom: 5px;
  font-size: 28px;
}

.register-subtitle {
  text-align: center;
  color: #64748b;
  margin-bottom: 20px;
  font-size: 14px;
}

/* Form */
.register-form {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.register-form label {
  font-weight: 600;
  color: #0f172a;
  font-size: 14px;
}

/* Bigger Inputs */
.register-form input {
  width: 100%;
  padding: 12px 14px;

  border: 1px solid #d1d5db;
  border-radius: 8px;

  font-size: 15px;
  box-sizing: border-box;

  outline: none;
}

.register-form input:focus {
  border-color: #16a34a;
}

/* Button */
.register-btn {
  margin-top: 12px;

  width: 100%;
  padding: 12px;

  border: none;
  border-radius: 8px;

  background: #16a34a;
  color: white;

  font-size: 15px;
  font-weight: bold;

  cursor: pointer;
}

.register-btn:hover {
  background: #15803d;
}